.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.container-handheld {
    display: none;
}
.container2-handheld {
    display: none;
}

.objects-left-container {
    display: none;
}
.item {
    margin: 0px; 
    width: 100%;
    height: 750px; /* Высота блока страницы */
  }
.header {
    width: 100%;
    background-image: url("/img/head.png");
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-color: #2c2c2c;
    box-shadow:0 0 0 700px rgba(0, 0, 0, 0.53) inset; 
}
.header-up {
}
.header-center {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-end;
}
.namepage {
    font-size: 40px;
    font-weight: 400;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-left: 100px;
    height: 45px;
    display: block;
}
.aboutpage {
    font-size: 13px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-left: 100px;
    height: 40px;
}
.lozung {
    width: 700px;
    font-weight: 0;
    font-size: 26px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    padding-left: 100px;
}


.menu {
    width: 100%;
    height: 26px;
    padding-right: 136px; /* Отступ для меню слева 243*/
    padding-top: 48px; /* Отступ для меню сверху */

}
.menu > ul {
    display: flex; 
    justify-content: flex-end; 

}
.menu > ul a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.menu > ul a:hover {
    font-size: 18px;
    color: #87D9F1;
}
.menu > ul > li{
    display: table-cell; /* Иначе меню в столбик */
    text-align: center;
    padding-right: 50px; /* правый отступ в ячейке для меню */
    white-space: nowrap; /* Чтобы слова в меню не переносились */
}
.header-down {
    height: 120px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.header-down-handheld {
    display: none;
}
.buttonblock {
    text-align: left;
    padding: 20px;
    padding-top: 40px;
    height: 120px;
    font-weight: 0;
    font-size: 16px;
    color: #397C8F;
    font-family: 'Montserrat', sans-serif;
    width: 345px;
    background-color: white;
    border-radius: 5px;
    position:relative;
}
.buttonblock1 {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    height: 74px;
    font-weight: 0;
    font-size: 14px;
    background-color: #528290;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 374px;
    border-radius: 30px;
    letter-spacing: 0.05em;
}
.buttonblock-handheld {
    display: none;
}

.buttonblock div {
    position:absolute;
    bottom: 20px;
    right: 30px;
}
.header-down a {
    text-decoration: none;
}

.wrapper1 {
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
}
.headcontainer1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 750px;
}
.head1 {
    width: 100%;
    height: 750px;
    background-color: aqua;
    box-sizing: border-box;
    background-image: url("/img/head1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.pagename1 {
    width: 100%;
    height: 700px;
    background-color: yellow;
}
.darker1 { /* маска на картинку */
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background-color: rgba(16, 18, 24, .71);
}

.pagename {
    width: 100%;
    height: 106px;
    background-color: red;
    align-items: center;
}

.baseInfo {
    width: 100%;
    height: 750px;
    background-color: #2c2c2c;
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.baseInfo-name {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

.baseInfo-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 80%;
}
.baseInfo-center img {
    width: 60px;
}
.baseInfo-center div {
    padding-top: 30px;
    width: 100%;
    height: 250px;
    color: white;
    font-weight: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.baseInfo-center-item {
    text-align: center;

    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
.objects-left {
    /* flex: 2 2 100%; */
    height: 375px;
    width: 40%;
    background-image: url(/img/house-left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.objects-right {
    height: 375px;
    width: 60%;
    /* flex: 1 1 100%; */
    background-image: url(/img/house-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.objects2-left {
    /* flex: 1 1 100%; */
    height: 375px;
    width: 60%;
    background-image: url(/img/house2-left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.objects2-right {
    /* flex: 2 2 100%; */
    height: 375px;
    width: 40%;
    background-image: url(/img/house2-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.objects-left img{
}
.objects-right img {
}
.objects2-left img{
}
.objects2-right img {
}
.objects {
    width: 100%;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
      justify-content: flex-start;
}
  
.footer {
    width: 100%;
    height: 650px;
    background-color: #2c2c2c;
}
.burger {
    display: none;
}
.burger-button {
    display: none;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 50px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}
.nav-toggle span:before {
    top: 20px;
}
.nav-toggle span:after {
    top: 10px;
}
.nav-toggle {
    cursor: pointer;
    width: 50px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-handheld {
    display: none;
}
.button-lk {
    display: none;
}
.namepage-handheld {
    display: none;
}
.container-center-handheld {
    display: none;
}
.contact-handheld {
    display: none;
}


.contacts {
    width: 100%;
    height: 750px;
    background-color: #2c2c2c;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.container2 {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #2C2C2C;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-header {
    font-family: 'Montserrat', sans-serif;
    background-color: #2C2C2C;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    padding-top: 20px;
    width: 100%;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #FFFFFF;

}
.contact-header-2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    /* margin-top: 50px; */
    /* margin-bottom: 10px; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-indent: 5px;
    color: #FFFFFF;
    /* border: 1px solid red; */
}
.contact-header-3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    text-indent: 5px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.contact-form {
    width: 90%;
    align-self: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.contact-form-field {
    width: 70%;
    /* border: 1px solid red; */
}
.contact-label {

}
.contact-textarea {
}
.contact-input-name {
    display: block;
    box-sizing: border-box;
    height: 63px;
    width: 100%;
    text-indent: 10px;
}
input[type="text"]::-webkit-input-placeholder { color: #828282;}
input[type="text"], textarea[type="text"] { 
    border: 0px solid #98baba; /* Параметры рамки */
    background: white; 
    margin-top: 20px;
    padding-left: 10px;
    color: black;
    font-weight: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
textarea[type="text"] { 
    padding-top: 10px;
    height: 136px;
    margin-bottom: 40px;
}

.contact-header-field {
    display: block;
}
.contact-header-field-label {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    color: white;
    font-weight: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.contact-button {
    color: white;
    font-weight: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border: 0px solid red ;
    text-transform: uppercase;
}
input[type="submit"] { 
    margin: 0 auto;
    align-self: center;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1E1C1C;
    padding-top: 200px;
}
.contact-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    padding: 30px 0px 30px 30px;
}
.contact-phone {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #87D9F1;
    padding: 0px 0px 0px 30px;
}
.contact-menu {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    margin: 0;
    padding: 30px; 
    align-self: center;
}
.contact-menu-table {
    width: 100%;
}
.contact-menu-table td {
    width: 25%;
}
.contact-menu-table td {
}
.contact-socialnetwork {
    padding: 0px 0px 0px 30px;
}
.contact-socialnetwork a {
    padding-right: 30px;
}

/* -------------------------- МОБИЛЬНАЯ ВЕРСИЯ -------------------------- */
@media (max-width: 992px){
    .container {
        display: none;
    }
    body {
        background-color: #2c2c2c;
    }
    .container {
        display: none1;
    }
    .container-handheld {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0px; 
        width: 100%;
        background-color: gainsboro;
        /* width: 100%; */
        background-image: url("/img/head.png");
        background-size: 100%;
        background-repeat: no-repeat;
        /* background-position-y: -100px; */
        background-color: #2c2c2c;
        box-shadow:0 0 0 700px rgba(0, 0, 0, 0.53) inset; 
    }
    .container-center-handheld {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
         
         width: 100%;
    }
    .objects-left-container {
        display: block;
    }
    .blockWrap {
        display: none;
    }
    .menu {
        display: none;
    }
    .menu-handheld {
        display: flex;
        padding-top: 0px;
        width: 100%;
        align-items: center;
    }
    .burger-button1 {
        display: block;
        height: 30px;
    }
    .burger {
        display: none;
    }
    .burger-button {
        display: block;
        width: 80px;
        height: 54px;
        align-items: center;
        padding-top: 10px; /* Отступ для меню сверху */
        padding-left: 20px;
    }
    .burger a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }
    .burger > span {
        width: 25px;
        border-radius: 3px;
        margin-bottom: 5px;
    }
    .namepage {
        display: none;
    }
    .namepage-handheld {
        display: block;
        font-size: 20px;
        font-weight: 400;
        color: white;
        font-family: 'Montserrat', sans-serif;
        display: block;
        width: 100%;
        text-align: center;
    }
    .button-lk {
        display: block;
        width: 60px;
        padding-right: 20px;
    }
    .header-center {
        display: none;
    }
    .header-center-handheld {
        display: table;
    }
    .aboutpage-handheld {
        display: table-cell;
        vertical-align: middle;
        font-size: 26px;
        font-weight: 400;
        color: white;
        font-family: 'Montserrat', sans-serif;
        height: 100px;
        padding-left: 20px;
    }
    .header-down {
        display: none;
    }
    .header-down-handheld {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .buttonblock-handheld {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-align: center;
        padding: 20px;
        height: 74px;
        font-weight: 0;
        font-size: 14px;
        background-color: #528290;
        color: white;
        font-family: 'Montserrat', sans-serif;
        width: 374px;
        border-radius: 30px;
        letter-spacing: 0.05em;
    }
    .header-down-handheld a {
        text-decoration: none;
    }
    .baseInfo {
        display: none;
    }
    .baseInfo-handheld {
        width: 100%;
        background-color: #2c2c2c;
    }
    .baseInfo-name-handheld, .contact-header {
        color: white;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        background-color: #2C2C2C;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .contact-header {
        text-align: center;
    }
    .baseInfo-center {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        width: 80%;
        /* border: 3px solid white; */
    }
    .baseInfo-center div {
        width: 100%;
        height: 150px;
        color: white;
        font-weight: 0;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    .container2-handheld {
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: #2C2C2C;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .objects {
        display: none;
    }
    .objects-handheld {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
    }
    .objects-left-handheld {
        height: 405px;
        background-image: url(/img/house-left-img.png);
        filter: alfa(opacity=30%) black;
        opacity: 0.3;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .objects-right-handheld {
        height: 405px;
        filter: alfa(opacity=30%) black;
        opacity: 0.3;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background-image: url(/img/house-right.png);
    }
    .objects2-left-handheld {
        height: 405px;
        filter: alfa(opacity=30%) black;
        opacity: 0.3;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
        background-image: url(/img/house2-left.png);
    }
    .objects2-right-handheld {
        background-image: url(/img/house2-right.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .objects-item-text {
        color: white;
        font-weight: 0;
        font-size: 36px;
        text-transform: uppercase;
        position: absolute;
        margin-top: -60px;
        margin-bottom: -60px;
        margin-left: 200px;
        font-family: 'Montserrat', sans-serif;
    }
    .contact-header {
        margin-bottom: 20px;
        width: 100%;
    }
    .contact-header-2 {
        text-align: center;
        color: white;
        font-weight: 0;
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .contact-form {
        width: 90%;
    }
    .contact-label {

    }
    .contact-textarea {
    }
    .contact-input-name {
        display: block;
        box-sizing: border-box;
        height: 63px;
        width: 100%;
        text-indent: 10px;
    }
    input[type="text"]::-webkit-input-placeholder { color: #828282;}
    input[type="text"], textarea[type="text"] { 
        border: 0px solid #98baba; /* Параметры рамки */
        background: white; 
        margin-top: 20px;
        padding-left: 10px;
        color: black;
        font-weight: 0;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }
    textarea[type="text"] { 
        padding-top: 10px;
        height: 136px;
        margin-bottom: 40px;
    }
    
    .contact-header-field {
        display: block;
    }
    .contact-header-field-label {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        color: white;
        font-weight: 0;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }
    .contact-button {
        color: white;
        font-weight: 0;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        border: 0px solid red ;
        text-transform: uppercase;
    }
    input[type="submit"] { 
        /* margin-top: 40px; */
        margin: 0 auto;
        align-self: center;
    }
    .contact-handheld {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        background-color: #1E1C1C;
        padding-top: 30px;
        padding-bottom: 90px;
    }
    .contact-handheld-name {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        color: white;
        padding: 30px 0px 30px 30px;
    }
    .contact-handheld-phone {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        color: #87D9F1;
        padding: 0px 0px 0px 30px;
    }
    .contact-handheld-menu {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        width: 100%;
        margin: 0;
        padding: 30px; 
        align-self: center;
    }
    .contact-handheld-menu-table {
        width: 100%;
    }
    .contact-handheld-menu-table td {
        width: 50%;
    }
    .contact-handheld-socialnetwork {
        padding: 0px 0px 0px 30px;
    }
    .contact-handheld-socialnetwork a {
        padding-right: 30px;
       
        
    }
}