* {
    box-sizing:border-box;
}
.header {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-sizing:border-box;
}
.container {
    width: 100%;
    display: inline;
    /* box-sizing:border-box; */
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item {
    box-sizing:border-box;
    flex-wrap: wrap;
    /* white-space: nowrap; */ /* Чтобы слова в меню не переносились */
     padding-right: 20px; 
}